<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.zmn.repository.dao.RepositoryMapper" >
  <resultMap id="BaseResultMap" type="team.zmn.repository.pojo.Repository" >
    <id column="repository_id" property="repositoryId" jdbcType="VARCHAR" />
    <result column="repository_name" property="repositoryName" jdbcType="VARCHAR" />
    <result column="kinds" property="kinds" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from repository
    where repository_id = #{repositoryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="team.zmn.repository.pojo.Repository" >
    insert into repository (repository_id, repository_name, kinds
      )
    values (#{repositoryId,jdbcType=VARCHAR}, #{repositoryName,jdbcType=VARCHAR}, #{kinds,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="team.zmn.repository.pojo.Repository" >
    update repository
    set repository_name = #{repositoryName,jdbcType=VARCHAR},
      kinds = #{kinds,jdbcType=VARCHAR}
    where repository_id = #{repositoryId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select repository_id, repository_name, kinds
    from repository
    where repository_id = #{repositoryId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select repository_id, repository_name, kinds
    from repository
  </select>
</mapper>