<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.zmn.repository.dao.UserMapper">
  <resultMap id="BaseResultMap" type="team.zmn.repository.pojo.User">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="team.zmn.repository.pojo.User">
    insert into user (user_id, user_name, user_password, 
      role_id)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="team.zmn.repository.pojo.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_name, user_password, role_id
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="team.zmn.repository.pojo.UserDto">
    SELECT u.user_id, u.user_name,u.user_password,r.role_type
    FROM `user` AS u ,role AS r
    WHERE u.role_id = r.role_id
  </select>
</mapper>